@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: oklch(0.145 0 0);
  --card: #ffffff;
  --primary: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --border: rgba(0, 0, 0, 0.1);
  --radius: 2rem;
  
  /* Cores Borabanana */
  --banana-yellow: #FFC107;
  --banana-brown: #5D4037;
}

@theme inline {
  /* Mapeamento para o Tailwind v4 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-banana: var(--banana-yellow);
  --color-banana-text: var(--banana-brown);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --radius-xl: var(--radius);
}

@layer base {
  * {
    /* Agora o border-border vai funcionar */
    @apply border-border outline-none;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Montserrat', sans-serif;
  }
}